<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">yellehs24</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/EMS</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        
      
        <mapping class="com.system.ems.dao.EventDao"/>
        <mapping class="com.system.ems.dao.SignupDao"/>
        <mapping class="com.system.ems.dao.SigninDao"/>
        <mapping class="com.system.ems.dao.EventDao"/>
        <mapping class="com.system.ems.dao.InviteToNetworkDao"/>
        <mapping class="com.system.ems.dao.ManageNotificationsDao"/>
		<mapping class="com.system.ems.pojo.User"/>
		<mapping class="com.system.ems.pojo.Event"/>
		<mapping class="com.system.ems.pojo.Notification"/>
		<mapping class="com.system.ems.pojo.TicketType"/>
		<mapping class="com.system.ems.pojo.TicketTypeId"/>
		<mapping class="com.system.ems.pojo.Friends"/>
		<mapping class="com.system.ems.pojo.FriendsId"/>
		<mapping class="com.system.ems.pojo.UserHasEvents"/>
		<mapping class="com.system.ems.pojo.UserhasEventsId"/>
		<mapping class="com.system.ems.pojo.UserHasFriends"/>
		<mapping class="com.system.ems.pojo.UserHasFriendsId"/>
    </session-factory>
</hibernate-configuration>
